@font-face {
	font-family: 'Circe';
	src: url('../fonts/circe.eot');
	src: url('../fonts/circe.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circe.woff2') format('woff2'),
		url('../fonts/circe.woff') format('woff'),
		url('../fonts/circe.ttf') format('truetype'),
		url('../fonts/circe.svg#circe') format('svg');
		
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/circe_bold.eot'); 
	src: url('../fonts/circe_bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circe_bold.woff2') format('woff2'),
		url('../fonts/circe_bold.woff') format('woff'),
		url('../fonts/circe_bold.ttf') format('truetype'), 
		url('../fonts/circe_bold.svg#circe_bold') format('svg');
}
