.header {
  padding-top: 55px;
  @include media-breakpoint-down(sm) {
    padding-top: 40px;
  }
  &__wrapp {
    @include media-breakpoint-down(md) {
      padding-right: $grid-gutter-width * 2;
      padding-left: $grid-gutter-width * 2;
    }
    @include media-breakpoint-down(sm) {
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      background-color: $white;
      display: block;
      z-index: 3;
    }
  }
  &__logo {
    margin-right: 30px;
    @include media-breakpoint-down(md) {
      margin-right: 20px;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 10px;
    }
  }
  &__nav-link {
    color: $body-color;
    text-transform: uppercase;
    @include font-circle(13px, 24px);
    @include media-breakpoint-down(sm) {
      text-align: center;
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #dedede;
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &__navbar {
    flex-grow: 1;
    @include media-breakpoint-down(md) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__navbar .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    &.active {
      color: $primary;
    }
  }
  &__nav-tel {
    color: $body-color;
    margin-left: auto;
    @include font-circle(15px, 24px);
    font-weight: bold;
    padding-right: 0;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__collapse {
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 40px;
      right: 0;
      left: 0;
      //background-color: $white;
      max-width: 320px;
      background-color: #e7e7e7;
    }
  }
  &__burger {
    flex-direction: column;
    justify-content: center;
    & span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: #000;
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
      @include media-breakpoint-down(sm) {
        width: 18px;
        margin-bottom: 4px;
      }
    }
  }
}