.main-sect {
  position: relative;
  overflow: hidden;
  &__left {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    @include media-breakpoint-down(sm) {
      //text-align: center;
      align-items: center;
    }
    
    &--indent {
      padding: 160px $grid-gutter-width / 2;
      @include media-breakpoint-down(md) {
        padding: 112px $grid-gutter-width / 2;
      }
    }
  }
  &__title {
    @include font-display(78px,78px, bold);
    @include media-breakpoint-down(md) {
      @include font-display(60px,60px);
    }
    @include media-breakpoint-down(sm) {
      @include font-display(40px,40px);
    }
    &--indent {
      @include media-breakpoint-down(md) {
      }
      @include media-breakpoint-down(sm) {
      }
    }
  }
  &__slogan {
    @include font-intro(40px, 60px);
    color: $dark;
    margin-bottom: 45px;
    @include media-breakpoint-down(md) {
      @include font-intro(36px, 66px);
      margin-bottom: 40px;
    }
    @include media-breakpoint-down(sm) {
      @include font-intro(22px, 48px);
      margin-bottom: 20px;
    }
  }
  &__btn {
    margin-bottom: 130px;
    @include media-breakpoint-down(md) {
      margin-bottom: 147px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      order: 1;
    }
  }
  &__utp-section {
    display: flex;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
    &--indent {
      @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
      }
    }
  }
  &__utp {
    display: flex;
    align-items: flex-end;
    &:not(:last-child) {
      margin-right: 70px;
      @include media-breakpoint-down(sm) {
        margin-right: 0;
        margin-bottom: 10px;
        align-items: center;
      }
    }
  }
  &__utp-img {
    margin-right: 10px;
    @include media-breakpoint-down(sm) {
      margin-right: 8px;
    }
  }
  &__utp-text {
    @include font-circle(14px,18px);
    color: black;
  }
  &__decor {
    position: absolute;
    width: 1185px;
    height: 951px;
    top: 0;
    right: -160px;
    @include media-breakpoint-down(md) {
      width: 630px;
      height: 581px;
      right: -125px;
    }
    @include media-breakpoint-down(sm) {
      width: 391px;
      height: 391px;
      top: 0;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  &--indent1 {
    padding: 135px 80px;
    @include media-breakpoint-down(md) {
      padding: 107px 30px ;
    }
    @include media-breakpoint-down(sm) {
      padding: 125px 0;
    }
  }
}