.tex {
  //display: none;
  & *:not(:last-child) {
    margin-bottom: 20px;
  }
  font-size: 24px;
  &-cicle {
    font-family: 'Circe';
  }

  &-cicle-bold {
    font-family: 'Circe';
    font-weight: bold;
  }

  &-IntroScriptR {
    font-family: "IntroScriptR";
  }

  &-PlayfairDisplay-bold {
    font-family: "Playfair Display";
    font-weight: bold;
  }

  &-PlayfairDisplay-bold-italic {
    font-family: "Playfair Display";
    font-weight: bold;
    font-style: italic;
  }
}

.container {
  //border: 1px solid #000;
}