.tex {
  //display: none;
  & *:not(:last-child) {
    margin-bottom: 20px;
  }
  font-size: 24px;
  &-cicle {
    font-family: 'Circe';
  }

  &-cicle-bold {
    font-family: 'Circe';
    font-weight: bold;
  }

  &-IntroScriptR {
    font-family: "IntroScriptR";
  }

  &-PlayfairDisplay-bold {
    font-family: "Playfair Display";
    font-weight: bold;
  }

  &-PlayfairDisplay-bold-italic {
    font-family: "Playfair Display";
    font-weight: bold;
    font-style: italic;
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////


a, a:hover {
  text-decoration: none;
}

button, button:focus {
  outline: none;
}

.container {

  &__wrapp {
    @include media-breakpoint-down(md) {
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }
  }
}

.navbar-toggler, .navbar-toggler-icon {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  padding-right: 0;
}